{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Gambling Game
{% endblock %}

{% block content %}
    <p>Please select one of the hypothetical gamble from the six listed below that you would prefer to play.
After everyone has made and submitted their choices, the experimenter will draw <b>one</b> ball at random from a bag of 10 balls to determine the payoff for all participants according to the specific gamble selected by each participant. The bag will contain <b>10</b> balls of which <b>5</b> are <b>BLACK</b> and <b>5</b> are <b>WHITE</b>.  That means that when a ball is drawn, there is <b>50%</b> chance that it is <b>WHITE</b> and a <b>50%</b> change that it is <b>BLACK</b>.  If a <b>black</b> ball is drawn, payoffs under <b>Event A</b> will be paid out. Conversely, if a <b>white</b> ball is drawn, payoffs under <b>Event B</b> will be paid out. These earnings from Part 3 earnings will then be added to your total session earnings.</p>


  <p>The six different gambles are listed below. You must select <b>ONE AND ONLY ONE</b>  of these gambles. To select a gamble, please click  on the appropriate box. Each gamble has two possible outcomes (Event A or Event B), each event has a <b>50%</b>  chance of occurring.</p>




    <input type="hidden" name="gable" id="id_gamble"/>

    <table class="table borderless">
        <thead>
            <th>Gamble</th>
            <th>Event</th>
            <th>Payoff</th>
            <th>Pobabilities</th>
            <th>Your Selection</th>
        </thead>
        <tbody>
            {% for payoff_a, payoff_b in Constants.gambles_payoff %}
            <tr>
                <td rowspan="2">{{forloop.counter}}</td>
                <td>A</td>
                <td>{{payoff_a}}</td>
                <td>50%</td>
                <td rowspan="2">
                    <div class="radio">
                        <input type="radio" name="gamble" class="gamble" value="{{forloop.counter}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>B</td>
                <td>{{payoff_b}}</td>
                <td>50%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <span class="pull-right">
        {% next_button %}
    </span>
    <br>


<script type="text/javascript">
$(document).ready(function(){
    $("input.gamble").change(function(evt){
        var $chbox = $(evt.currentTarget);
        if($chbox.prop('checked')){
            var value = $chbox.val();
            $("#id_gamble").val(value);
        }
    });

});
</script>

<style>
.borderless td {
    border: none !important;
}

.borderless tr:nth-child(even) {
    border-bottom: solid 1px #ddd;
}

</style>

{% endblock %}
