{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Thank You
{% endblock %}

{% block content %}


 <p>Your individual earnings from Part 3 will now be added (subtracted) to your cumulative earnings from Part 1 and Part 2.</p>

 <p> While you are <strong>patiently </strong>  <strong>waiting</strong> for your final earnings to be tabulated, we re-direct you back to Part 2  page to view your cumulative earnings from Part 1 and Part 2. </p>

 <p> To access this page, please return to the previous tab.  If you have closed this tab, you can access it by re-selecting the link on the following page that corresponds to your <strong>computer ID. </strong>    </p>

 <p>https://econgameblog.wordpress.com/part2/</p>
  <br>



{% endblock %}
