{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Link
{% endblock %}

{% block content %}

    <p>This is  the end of PART 1 of the session.  Please type in the following link into your web browser: </p>

<p>http://www.renekirkegaard.com/page-experiment/ </p>

<p>Click on the link located on this page that corresponds to your computer ID (located on the sticky note on the top right corner of your computer screen).
    </p>
<p>This link will open PART 2 of the session.
</p>

<span class="pull-right">
    {% next_button %}
</span>

  <br>



{% endblock %}
