{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Thank You
{% endblock %}

{% block content %}

    <p>This is  the end of PART 3. </p>

 <p>The experimenter will now draw <b>one</b> ball at random from a bag of 10 balls to determine  Part 3 payoffs according to the specific gamble selected by each participant.</p>



<p>DO NOT proceed  until the experimenter has completed this draw.</p>

<span class="pull-right">
    {% next_button %}
</span>




{% endblock %}
