{% load otree_tags %}



<div class="row">






<p> Now suppose Bidder A bids $63 for the first unit and $20 for the second unit she demands.  Similarily, Bidder B bids $56 for the first unit and $28 for the second unit she demands.</p>



        </div>
        
        <div class="row">
            <div class="col-md-3">
                <h4> Placing Bids</h4>
                <table class="table table-hover">
                    <thead>
                        <th>Bid</th>
                        <th>Value</th>
                        <th>Bidder</th>
                    </thead>
                    <td>{{63|c}}</td><td>{{63|c}}</td><td>A</td></tr>
                    <td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
                </table>
            </div>
            
            
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <h4> Placing Bids</h4>
                    <table class="table table-hover">
                        <thead>
                            <th>Bid</th>
                            <th>Value</th>
                            <th>Bidder</th>
                        </thead>
                        <td>{{56|c}}</td><td>{{56|c}}</td><td>B</td></tr>
                        <td>{{28|c}}</td><td>{{48|c}}</td><td>B</td></tr>
                    </table>
                </div>
                
  
                </div>
                <div class="row">
                    


</div>
