{% load otree_tags %}





<div class="row">


    
    <p> Now suppose Bidder A bids $63 for the first unit, $60 for the second unit and $20 for the third unit she demands.  Similarily, Bidder B bids $56 for the first unit, $54 for the second unit and $40 for the third unit she demands.  Finally, Bidder C bids $59 for the first unit, $57 for the second unit and $27 for the third unit she demands.</p>
    
    
    
    
    
</div>

<div class="row">
    <div class="col-md-3">
        <h4> Placing Bids</h4>
        <table class="table table-hover">
            <thead>
                      <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <td>{{63|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <td>{{60|c}}</td><td>{{60|c}}</td><td>A</td></tr>
            <td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
        </table>
    </div>
    
    
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h4> Placing Bids</h4>
            <table class="table table-hover">
                <thead>
                          <th>Bid</th>
                    <th>Value</th>
                    <th>Bidder</th>
                </thead>
                <td>{{56|c}}</td><td>{{56|c}}</td><td>B</td></tr>
                <td>{{54|c}}</td><td>{{54|c}}</td><td>B</td></tr>
                <td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
            </table>
        </div>
        
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h4> Placing Bids</h4>
                <table class="table table-hover">
                    <thead>
                              <th>Bid</th>
                        <th>Value</th>
                        <th>Bidder</th>
                    </thead>
                    <td>{{59|c}}</td><td>{{59|c}}</td><td>C</td></tr>
                    <td>{{57|c}}</td><td>{{57|c}}</td><td>C</td></tr>
                    <td>{{27|c}}</td><td>{{33|c}}</td><td>C</td></tr>
                </table>
            </div>
        </div>
        <div class="row">
            

    
    
    
  </div>



