<ol class="pretty-ol">



<li>Each bidder submits three bids (b1, b2, b3) - one for each unit demanded.</li>

<li>Bids must be greater than or equal to zero.</li>
<li>After you and your competitors have submitted your bids, the auctioneer will rank them from highest to lowest. The eight highest bids will each be awarded one unit.</li>

<li>You are guaranteed to purchase at least two units because there are nine bids in total.</li>

<li>The experiment will consist of 25 rounds, taking approximately 45 minutes in total. An auction with three bidders will take place in each round. You are one bidder; the second and third  bidders are chosen randomly for each round. Therefore, you are bidding against two other people in each round who may or may not be the same people from the previous round.</li>
</ol>
