{% load otree_tags %}






<div class="row">
    
    <p> Now suppose Bidder A bids $58 for the first unit, $52 for the second unit and $28 for the third unit she demands.  Similarily, Bidder B bids $50 for the first unit, $42 for the second unit and $32 for the third unit she demands.  Finally, Bidder C bids $51 for the first unit, $45 for the second unit and $30 for the third unit she demands.</p>
    
    
    
    
    
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <h4> Placing Bids</h4>
                <table class="table table-hover">
                    <thead>
                        <th>Bid</th>
                        <th>Value</th>
                        <th>Bidder</th>
                    </thead>
                    <td>{{58|c}}</td><td>{{63|c}}</td><td>A</td></tr>
                    <td>{{52|c}}</td><td>{{60|c}}</td><td>A</td></tr>
                    <td>{{28|c}}</td><td>{{44|c}}</td><td>A</td></tr>
                </table>
            </div>
            
            
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <h4> Placing Bids</h4>
                    <table class="table table-hover">
                        <thead>
                            <th>Bid</th>
                            <th>Value</th>
                            <th>Bidder</th>
                        </thead>
                        <td>{{50|c}}</td><td>{{56|c}}</td><td>B</td></tr>
                        <td>{{42|c}}</td><td>{{54|c}}</td><td>B</td></tr>
                        <td>{{32|c}}</td><td>{{41|c}}</td><td>B</td></tr>
                    </table>
                </div>
                
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h4> Placing Bids</h4>
                        <table class="table table-hover">
                            <thead>
                                <th>Bid</th>
                                <th>Value</th>
                                <th>Bidder</th>
                            </thead>
                            <td>{{51|c}}</td><td>{{59|c}}</td><td>C</td></tr>
                            <td>{{45|c}}</td><td>{{57|c}}</td><td>C</td></tr>
                            <td>{{30|c}}</td><td>{{33|c}}</td><td>C</td></tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    
                    
          
</div>








