{% load otree_tags %}
<div class="row">
 
    <p>To summarize, examples 1 and 2 illustrated the effect of Bidder A using different strategies
        on total profits. As was the case in example 1, Bidder A earned more profit when she purchased 3
        units compared to the case when she purchased 2 unit. However, example 2 illustrates another  scenario when Bidder A actually earned less revenue when she purchased 3 rather than 2 unit.
        Underlying these two illustrative examples is the fact that purchasing 3 units instead of 2 unit will
        almost surely increase the market price and thus directly reducing the profits you can earn on
        the first unit. The net result is that in some cases it will be profitable to increase your bid on the
        third unit (i.e., Example 1) and in some cases it will not be profitable to increase your bid on the third
        unit (i.e., Example 2).</p>
        
        <p> You will not know which environment you are playing within because your competitors' bidding strategies and valuations are kept private and are unknown to you at the time of bidding.</p>

</div>
