<ol class="pretty-ol">
<li>After the bids have been submitted, collected and ranked from highest to lowest, we report back to you the outcomes for your market: bids listed from highest to lowest, how many units you won, how much profits you earned on each unit and your total profits. For your convenience, your bids always have a <span class="glyphicon glyphicon-asterisk"></span> next to them.</li>
<li>The price paid by those winning an item is equal to their submitted bid. This is called a pay-your-bid price auction.</li>
<li>The computer calculates the profits.  This will depend on your highest bid (b1), your second highest bid (b2), your valuation on the first unit (v1) and your valuation on the second unit (v2).   There are two possible scenarios you may find yourself in:<br />
<ol style="list-style-type: lower-alpha;">
    <li>You win two units. This occurs when both of your bids are among the 3 highest bids.<br />Your profits for unit one are: v<sub>1</sub> - b<sub>1</sub><br />Your profits for unit two are: v<sub>2</sub> - b<sub>2</sub><br />Total Profits are:  v<sub>1</sub> + v<sub>2</sub> &minus; b<sub>1</sub> &minus; b<sub>2</sub></li>
<li> You only win one unit. This occurs when only one of your bids is among the three
    highest bids. Note in this case, your second bid is necessarily the only losing bid<br />Your profits for  unit one are:
    v<sub>1</sub> - b<sub>1</sub><br />Your profits for unit two are:  0<br />Total Profits are: v<sub>1</sub> &minus; b<sub>1</sub></li>
</ol>
</li>
<li>Any unit earned at a price below its value results in a positive profit; any unit earned at a price above its value results in a negative profit.</li>
</ol>
