<ol class="pretty-ol">

<li>After the bids have been submitted, collected and ranked from highest to lowest, we report
back to you the outcomes for your market: bids listed from highest to lowest, how many
units you won, how much profits you earned on each unit and your total profits. Finally,
the highest rejected bid ( the bid that sets the clearing price) - is highlighted within a
green background. For your convenience, your bids always have a <span class="glyphicon glyphicon-asterisk"></span> next to them.</li>

<li>
    The computer calculates the profits on each of your bids on units that you are awarded.
    Recall, there are two possible scenarios you may find yourself in:
    <ol class="pretty-ol" type="a">
        <li><p>You win two units. This occurs when both of your bids are among the 3 highest bids.</p>
            <p>Your profits for unit one are: Π<sub>1</sub> = v<sub>1</sub> - clearingprice</p>
            <p>Your profits for unit two are: Π<sub>2</sub> = v<sub>2</sub> - clearingprice</p>
            <p>Total Profits are Π<sub>TOTAL</sub> = Π<sub>1</sub> + Π<sub>2</sub> = v<sub>1</sub> + v<sub>2</sub> - 2 × clearingprice</li>
        <li><p>You only win one unit. This occurs when only one of your bids is among the three
               highest bids. Note in this case, your second bid is necessarily the only losing bid:
               Therefore this bid of yours sets the clearing price that you pay for the unit you won.</p>
            <p>Your profits for unit one are: Π<sub>1</sub> = v<sub>1</sub> - clearingprice</p>
            <p>Your profits for unit two are: Π<sub>2</sub> = 0</p>
            <p>Total Profits are Π<sub>TOTAL</sub> = Π<sub>1</sub> = v<sub>1</sub> - clearingprice</p></li>
    </ol>
</li>

<li>Any unit earned at a price below its value results in a positive profit; any unit earned at a
price above its value results in a negative profit. Positive profits will be added to (negative
profits subtracted from) the owner’s capital balance.</li>

</ol>
