{% load otree_tags %}


<div class="row">

    <p>To summarize, examples 1 and 2 illustrated the effect of Bidder A using
    different strategies on total profits. As was the case in example 1,
    Bidder A earned more profit when she purchased 3 units compared to the case when
    she purchased 2 units. Example 2 illustrates another scenario when
    Bidder A actually earned more revenue by lowering her bid on her first
    unit while keeping her bid on the second and third units constant. Note, it is never profitable for Bidder A to increase her
    bid above her valuation due to the fact that she
    will necessarily earn negative profit by paying more for a good than it is worth to her given her assigned valuations.</p>
    
    
      <p> You will not know which environment you are playing within because your competitors' bidding strategies and valuations are kept private and are unknown to you at the time of bidding.</p>
</div>






