{% load otree_tags %}

<div class="row">
    <p>
    Example 1 is depicted from the perspective of Bidder A who is competing against one competitor: Bidders B. Each of these two bidders with demand for three units are competing in
    an auction in which there are three units of the same good up for sale.
    </p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 1. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{58|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{50|c}}</td><td>{{56|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{28|c}}</td><td>{{48|c}}</td><td>B</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 2. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{58|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{50|c}}</td><td>{{56|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{28|c}}</td><td>{{48|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
    <p><strong>Example 1.</strong> First, we focus on Table 1. Note bids have been sorted from highest to
    lowest, values are shown next to the bids.  The 4th highest bid  has been highlighted with a pink background and will always be the only losing bid.  The 3 highest
    bids above  this pink background each earn an item.
    In the example depicted in Table 1, bidder A earned 1 unit while bidder B earned 2 units.
        Thus in the case of Table 1, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: $63 - $58 = $5</li>
        <li>and nothing on unit 2</li>
        <li>Total profit = $5</li>
    </ul>
    <p>In this example, Bidder A could have earned a second unit by bidding more, provided that bid
        was sufficiently high to edge out Bidder B. Table 2 illustrates the case in which Bidder A changes
        her bid on her second unit from $20 to $40; and all other bids are held constant. Focusing on Table 2,
        we see that Bidder A wins two units while bidder B now only wins one. Thus in the case of Table
        2, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: $63 - $58 = $5</li>
        <li>Units 2: $44 - $40 = $4</li>
        <li>Total profits = $9</li>
    </ul>
    <p>In comparing the auction outcomes in Table 1 and Table 2, we see that Bidder A was able to
        increase her profits by bidding  more on her second unit in order to win two units rather
        than one.
    </p>
</div>