{% load otree_tags %}

<div class="row">
    <p> Example 1 is depicted from the perspective of Bidder A who is competing against two
    competitors: Bidders B and Bidder C. Each of these three bidders with demand for three units are competing in
    an auction in which there are eight units of the same good up for sale.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 1. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{70|c}}</td><td>{{73|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
            <tr><td>3</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
            <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
            <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
            <tr><td>7</td><td>won</td><td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
            <tr><td>8</td><td>won</td><td>{{27|c}}</td><td>{{33|c}}</td><td>C</td></tr>
            <tr class="danger"><td>9</td><td>lost</td><td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 2. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{70|c}}</td><td>{{73|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
            <tr><td>3</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
            <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{60|c}}</td><td>A</td></tr>
            <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
            <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
            <tr><td>7</td><td>won</td><td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
            <tr><td>8</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
            <tr class="danger"><td>9</td><td>lost</td><td>{{27|c}}</td><td>{{33|c}}</td><td>A</td></tr>
        </table>
    </div>
</div>

<div class="row">
    <p>First, we focus on Table 1. Note bids have been sorted
        from highest to lowest, values are shown next to the bids.
        The 9th highest bid  has been highlighted with a pink background and will always be the only losing bid.
        
        The 8 highest
        bids above  this pink background each earn an item. In the example depicted in
        Table 1, Bidder A earned 2 unit while Bidder B and Bidder C both earned 3 units.
        Thus in the case of Table 1, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: $73 - $70 = $3</li>
        <li>Unit 2: $63 - $58 = $5</li>
        <li>and nothing on unit 3</li>
        <li>Total profit = $8</li>
    </ul>
    <p>In this example, Bidder A could have earned a third unit by bidding more,
    provided that bid was sufficiently high to edge out Bidder C. Table 2 illustrates
    the case in which Bidder A changes her bid on her third unit from $20 to $40; and all
    other bids are held constant. Focusing on Table 2, we see that Bidder A wins 3
    units and Bidder B wins 3 units while Bidder C now only wins 2. Thus in the
    case of Table 2, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: $73 - 70 = $3</li>
        <li>Unit 2: $63 - 58 = $5</li>
        <li>Units 3: $44 - 40 = $4
        <li>Total profits = $12</li>
    </ul>
    <p>In comparing the auction outcomes in Table 1 and Table 2, we see that
    Bidder A was able to increase her profits by bidding  more on
    her third unit in order to win 3 units rather than 2.</p>
</div>

