{% extends "global/Base.html" %}
{% load humanize staticfiles otree_tags %}

{% block title %}
    Instructions 
{% endblock %}

{% block content %}
<style>
ol.pretty-ol li {
    margin-bottom: 20px;
}
</style>

    {% if treatment == "T1-UA" %}
    {% include "review_questions_T1UA/introduction_1/t1_ua.html" %}
    {% elif treatment == "T1-DA" %}
    {% include "review_questions_T1UA/introduction_1/t1_da.html" %}
    {% elif treatment == "T2-UA" %}
    {% include "review_questions_T1UA/introduction_1/t2_ua.html" %}
    {% elif treatment == "T2-DA" %}
    {% include "review_questions_T1UA/introduction_1/t2_da.html" %}
    {% endif %}

    <span class="pull-right">
        {% next_button %}
    </span>
    <br>
{% endblock %}


