{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    End of Part 1
{% endblock %}

{% block content %}

    <p>Thank you for answering the review questions.  Your earnings from this test will be added to your final earnings at the end of the experiment. </p>

    <p>This is  the end of PART 1 of the session.  Please type this link into your web browser to be re-directed to Part 2: </p>

<p>http://www.renekirkegaard.com/page-experiment/ </p>






{% endblock %}
