{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Answers
{% endblock %}


{% block content %}

<ol class="pretty-ol">


<p><b>QUESTION</b>:  Calculate the profits earned by <b>Bidder B</b> on <b>all units purchased</b> in the example depicted in the table below.</p>
<p><b>ANSWER</b>: ($56 - $44) + ($48 - $44) = $16 </p>


<div class="row">
    <div class="col-md-6">
        <h4>Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                 <th>Profit Earned</th>
                <th>Bidder</th>
            </thead>
            <td>won</td><td>{{98|c}}</td><td>{{98|c}}</td><td>{{98|c}} - {{44|c}} = {{54|c}}</td><td>A</td></tr>
            <td>won</td><td>{{56|c}}</td><td>{{56|c}}</td><td>{{56|c}} - {{44|c}} = {{12|c}}</td><td>B</td></tr>
            <td>won</td><td>{{48|c}}</td><td>{{48|c}}</td><td>{{48|c}} - {{44|c}} = {{4|c}}</td><td>B</td></tr>
            <tr class="danger"><td>lost</td><td>{{44|c}}</td><td>{{44|c}}</td><td>{{0|c}}</td><td>A</td></tr>
        </table>
    </div>
</div>


<span class="pull-right">
    {% next_button %}
</span>
<br>

{% endblock %}
