{% load otree_tags %}

<div class="row">

    <p> Example 2 is depicted from the same perspective of Bidder A who is competing against Bidder B.  Example 2 differs from Example 1 in that it presents  an alternative scenario in which Bidder A bids increases  her bid on the second unit in order to win two rather than one unit and actually results in her earning lower profits.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 3. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{63|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{56|c}}</td><td>{{56|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{39|c}}</td><td>{{54|c}}</td><td>B</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 4. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{63|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{56|c}}</td><td>{{56|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{39|c}}</td><td>{{54|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
    <p>Focusing on Table 3, we see that Bidder A earned 1 unit while bidder B earned 2 units. Profits
        for bidder A on this unit are calculated as follows: the valuation of the unit less the market price.
        Thus in the case of Table 3, Bidder A’s profits are calculated as:</p>
    <ul>
        <li>Unit 1: $63 - $20 = $43</li>
        <li>and nothing on unit 2</li>
        <li>Total profits = $43</li>
    </ul>
    <p>As in the previous example, we are interested to see if Bidder A could increase her profits by
        winning two (rather than one) unit . Table 4 illustrates this case when Bidder A changes her bid
        from $20 to $40 on her lower valued unit while keeping her bid on the higher valued unit constant as
        well as bids from Bidder constant. This change in bidding strategy resulted in the market price
        now being set by Bidder B’s bid of $39. Bidder A wins two units and bidder B now only wins
        one and her losing bid sets the market price. Thus in the case of Table 4, Bidder A’s profits are
        calculated as:</p>
    <ul>
        <li>Unit 1: $63 - $39 = $24</li>
        <li>Units 2: $44 - $39 = $5</li>
        <li>Total profits = $29</li>
    </ul>
    <p>Consequently, total profits are lower in Table 4 where Bidder A won two units relative to Table 3
        where Bidder A won only one unit. To summarize, examples 1 and 2 illustrated the effect of Bidder
        A using different strategies on total profits. As was the case in example 1, Bidder A earned more
        profit when she won two units compared to the case when she won one unit. However, example
        2 illustrates another scenario when Bidder A actually earned less revenue when she won
        two rather than one unit.
    </p>
    
    
     <p>Underlying these two illustrative examples is the fact that winning two
    units instead of one unit will almost surely increase the market price and thus directly reduce
    the profits you can earn on the first unit. The net result is that in some cases it will be profitable
    to increase your bid on the second unit <strong>Example 1</strong> and in some cases it will not be profitable to
    increase your bid on the second unit <strong>Example 2</strong>.
    </p>


</div>
