{% load otree_tags %}

<ol class="pretty-ol">
<li>In case of a tie - for example the 3rd and 4th highest bid are the same - the computer will
randomly determine which of the two bids is the second highest and earns an item and
which of the two bids sets the price but does not earn an item.</li>

<li>In cases where the 4th highest bid is zero (0), the price everyone pays is also zero. That
is, the 4th highest bid sets the market price no matter what the bid is.</li>

<li>You are free to bid whatever you think will bring you the most earnings. However, for
programming purposes we have restricted all bids to be greater than or equal to zero in
addition to the bids for the second unit to be less than or equal to the bid on the first unit
listed.</li>
<li>Your earnings of $5 from Part 1 will be be automatically added to your starting balance
at the beginning of each auction.</li>

<li>Your starting balance does not restrict how much you can bid. Recall that your value is
what you will get for any items earned, so that you do not have to ”secure” your bid with
your cash balance. The latter is just designed to provide you with some minimum earnings
and a fund from which any negative earnings will be subtracted.
</li>

<li>Your final payoff will be determined by only two of the 25 auctions you will
play. More specifically, two of the 25 auction rounds will be chosen at random
and your profits (losses) earned from that auction will be added (subtracted) to
your starting balance of $5 to determine your final balance. All final balances
will be paid to you in cash at the end of the experiment.</li>

<li>Please feel free to ask questions as we go along. You are not permitted to talk to each
other until the experiment is over.</li>

</ol>
