{% load otree_tags %}

<ol class="pretty-ol">
<li>In case of a tie - for example the 3rd and 4th highest bid are the same - the computer will
randomly determine which of the two bids wins and  earns an item and which of the two bids loses and does not earn an item.</li>

<li>In cases where the 4th highest bid is zero (0), the price everyone pays is also zero. That
is, the 4th highest bid sets the market price no matter what the bid is.</li>

<li>You are free to bid whatever you think will bring you the most earnings. However,  we have restricted all bids to be greater than or equal to zero in
addition to the bids for the second unit to be less than or equal to the bid on the first unit
listed.</li>






<li>Your final payoff will be determined by only two of the 25 auctions you will
    play. More specifically, two of those 25 auction rounds will be chosen at random
    and your profits (losses) earned from that auction will be added to your show up reward of $50.  The final step to calculate your final individual payoffs is to divide your total earnings by 10.</li>

<li>For example, if auction round 2 and 19 are randomly chosen to determine your  payoff, the formula to calculate your final payoff will be as follows:
    (Total profits<sub>2</sub> + Total profits<sub>19</sub> +$50)/10</li>


<li>All final balances will be paid to you in cash at the end of the experiment.</li>

<li> You are not permitted to talk to each other until the experiment is over.</li>

<li>This is the end of Part 2 of the experiment. Once you click the "Next" button the experiment will begin.  Please raise your hand if you have any questions at this time.</li>


</ol>
