{% load otree_tags %}

<ol class="pretty-ol">
<li>In case of a tie - for example the 3rd and 4th highest bids are the same - the computer will
randomly determine which of the two bids   earns an item and which of the two bids  does not earn an item.</li>

<li>In cases where the losing bid is zero (0), the price everyone pays is also zero. That
is, the losing bid, i.e., the  4th highest bid sets the market price no matter what the bid is.</li>




<li>You are free to bid whatever you think will bring you the most earnings. However,  we have restricted all bids to be greater than or equal to zero in
addition to the bids for the second unit to be less than or equal to the bid on the first unit
listed.</li>



<li> You are not permitted to talk to each other until the experiment is over.</li>



</ol>
