<ol class="pretty-ol">

<li>We will create a market in which you will act as bidder in a sequence of 25  seperate auctions. Each auction will have three identical units up for sale in which you and one other bidder are competing to
win. You and your rival bidder both demand two of these three identical units.</li>

<li>Each bidder will be assigned valuations for the two identical units they demand. These
valuations represent the value of the good to you if you obtain it, i.e., what we will pay you
for any items purchased. The values of each of the two units will be different from each
other. If won, the first unit will provide you with a valuation denoted by: <em>v1</em>. If both
units are won, your total valuation is <em>v1</em>+<em>v2</em>. You can think of <em>v2</em> as the incremental value you get for winning a second unit above
your initial value for the first unit won. Your valuations are known only to you and are
completely independent of the valuations assigned to your competitors.  In other words, you don't know your rival bidders' valuations and they don't know your valuations. Your valuations
will be drawn anew before each auction.</li>

<li>The incremental value for the second unit (<em>v2</em>) will be randomly drawn from an interval
where the lowest possible value is $0 and the highest possible value is $100.00. This is the
same for all bidders. Any value within this interval has an equally likely chance of being
drawn and being assigned as your valuation. Values for the first unit (<em>v1</em>) will be drawn between <em>v2</em> and $100.00. Any value within this
interval has an equally likely chance of being drawn and being assigned as your valuation.</li>

<li>Each bidder submits two bids (bids must be greater than or equal to zero) - one for each
unit.</li>

<li>After you and your competitors have submitted your bids, the auctioneer will rank them
from highest to lowest. The three highest bids will each be awarded one unit.</li>

<li>You are guaranteed to win at least one unit.</li>

<li>The experiment will consist of 25 rounds, taking approximately 45 minutes in total.
An auction with two bidders will take place in each round. You are one bidder, the second
bidder is chosen randomly for each round. So you are bidding against one other person in
each round who may or may not be the same person from the previous round.</li>



</ol>
