{% load otree_tags %}

<ol class="pretty-ol">
    
    
    <p>You will earn $3 for completing the review quiz in Part 1.</p>
    
    
    
    <p>Your earnings from Part 2 will be determined by only two of the 25 auctions you will
    play. More specifically, two of those 25 auction rounds will be chosen at random
    and your profits (losses) earned from those auctions will  be <strong>divided by 10.</strong>
    </p>
    
    <p>For example, if auction round 2 and 19 are randomly chosen to determine your  payoff, the formula to calculate your Part 2 earnings  will be as follows:
    $0.10 &times;(total profit from round 2) + $0.10 &times;(total profit from round 19)</p>
    
    <p>Your  earnings from Part 3 will be tied to your choice of gamble.</p>
    
    
    <p>Your final balance will be determined by adding (subtracting) profits (losses) from Part 1, Part 2 and Part 3 together.</p>
    
    
    <p>Your final balance will be paid to you in cash at the end of the experiment.</p>
    
    
    
</ol>
