{% extends "global/Base.html" %}
{% load humanize staticfiles otree_tags %}

{% block title %}
    Decide
{% endblock %}

{% block content %}>

    {% for value in player.values %}
    <p>
        Your valuation for the <strong>{{forloop.counter|ordinal}}</strong> unit is:
        <strong class="text-info">{{value}}</strong>
    </p>
    {% endfor %}

    <div id="questions">
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </div>

    <span class="pull-right">
        {% next_button %}
    </span>
    <br>
{% endblock %}
