{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
 End of Part 2
{% endblock %}

{% block content %}

    <div>
        
     
     
     <p>ONLY click the next button if you have completed Part 3. </p>
     
     
     <p> If you have NOT completed Part 3, please copy and past the following link into a NEW web browser to be re-directed to Part 3. </p>
     
     <p>https://econgameblog.files.wordpress.com/2016/03/partthree.pdf </p>
     


    </div>

<span class="pull-right">
    {% next_button %}
</span>

    <br>
{% endblock %}
