{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank You For Playing
{% endblock %}

{% block content %}

    <div>
        <p>
            You final payoff is:
            <strong class="{% if player.final_payoff < 0%}text text-danger{%endif%}">
                {{player.str_final_payoff}}
            </strong>
            (auction profits from randomly selected auction round
            <strong>{{player.final_payoff_round_number}}</strong> plus
            <strong>{{constants.start_money}}</strong> participation reward)
        </p>
        <p>
            Please patiently wait for further instructions.
        </p>
    </div>

    <br>
{% endblock %}
