{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank You For Playing
{% endblock %}

{% block content %}

    <div>
        <p>
            Your final payoff is:
            <strong class="{% if player.final_payoff < 0%}text text-danger{%endif%}">
                {{player.final_payoff}}
            </strong>
            (auction profits from randomly selected auction round
            {% for rn in player.list_payoff_rounds_numbers %}
            <strong>{{rn}}</strong> {% if forloop.last %}plus{% else %}and round{% endif %}
            {% endfor %}
            <strong>{{Constants.start_money}}</strong> participation reward)
        </p>
        <p>
            Please patiently wait for further instructions.
        </p>
    </div>

    <br>
{% endblock %}
