{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    End of Part 2
{% endblock %}

{% block content %}

    <div>
        


        

        
              <p>Proceed ONLY if you have completed Part 3 </p>
        
                    <p> If you have NOT completed Part 3, please copy and past the following link into a NEW web browser to be re-directed to Part 3. </p>
       
       <p>https://econgameblog.wordpress.com/part1/link-to-part-3/ </p>
       
       
    </div>


<span class="pull-right">
    {% next_button %}
</span>
    <br>
{% endblock %}
