<ol class="pretty-ol">


<li>Each bidder submits two bids (b1, b2) - one for each unit demanded.</li>

<li>Bids must be greater than or equal to zero.</li>
<li>After you and your competitor have submitted your bids, the auctioneer will rank them from highest to lowest. The three highest bids will each be awarded one unit.</li>
<li>You are guaranteed to purchase at least one unit because there are four bids in total  and three units for sale.</li>
<li>The experiment will consist of 25 rounds, taking approximately 45 minutes in total. An auction with two bidders will take place in each round. You are one bidder; the second bidder is chosen randomly for each round. Therefore, you are bidding against one other person in each round who may or may not be the same person from the previous round.</li>
</ol>
