{% load otree_tags %}

<div class="row">
    <p>
    The following examples illustrate the <strong>pay-your-bid</strong> pricing rule and how profits are calculated.
    Each example will be illustrated from the perspective of bidder A who is competing against one
    2rival bidder: Bidder B. Each of the two bidders with demand for two units are competing in one
    auction in which there are three units of a homogeneous good to be auctioned.
    </p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 1. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{5.8|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 2. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{5.8|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{4|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
    <p><strong>Example 1.</strong> First, we focus on Table 1 in Example 1. Note bids have been sorted from highest to
    lowest, values are shown next to the bids.  The 4th losing bid  has been highlighted with a pink background.  The 3 highest
    bids above  this pink background each earn an item.
    In the example depicted in Table 1, bidder A earned 1 unit while bidder B earned 2 units.
        Thus in the case of Table 1, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: 6.3 - 5.8 = 0.5</li>
        <li>and nothing on unit 2</li>
        <li>Total profit = 0.5</li>
    </ul>
    <p>In this example, Bidder A could have earned a second unit by bidding more, provided that bid
        was sufficiently high to edge out Bidder B. Table 2 illustrates the case in which Bidder A changes
        her bid on her second unit from 2 to 4; and all other bids are held constant. Focusing on Table 2,
        we see that Bidder A wins two units while bidder B now only wins one. Thus in the case of Table
        2, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: 6.3 - 5.8 = 0.5</li>
        <li>Units 2: 4.4 - 4.0 = 0.4</li>
        <li>Total profits = 0.9</li>
    </ul>
    <p>In comparing the auction outcomes in Table 1 and Table 2, we see that Bidder A was able to
        increase her profits by bidding  more on her second unit in order to win two units rather
        than one.
    </p>
</div>

<div class="row">
    <p><strong>Example 2.</strong>The next set of examples illustrates an alternative scenario in which Bidder A bids lower on her first unit in order to win both units while earning more profits.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 3. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{5.8|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{4|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 4. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{5|c}}</td><td>{{6.3|c}}</td><td>B</td></tr>
            <tr><td>2</td><td>won</td><td>{{4|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>3</td><td>won</td><td>{{4|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
   <p>Focusing on Table 3, we see that Bidder A earns 2 unit while bidder B
   earned 1 units. Profits for bidder A on this unit are calculated as follows:
   the valuation of the unit less the market price. Thus in the case of Table 3,
   Bidder A’s profits are calculated as:</p>
   <ul>
        <li>Unit 1: 6.3 - 4.0 = 2.3
        <li>Unit 2: 4.4 - 4.0 = 0.4</li>
        <li>Total profits = 2.7</li>
   </ul>
   <p>
        To summarize, examples 1 and 2 illustrated the effect of Bidder A
        using different strategies on total profits. As was the case in
        example 1, Bidder A earned more profit when she won two units compared
        to the case when she won one unit. Example 2 illustrates another scenario when Bidder A actually earned more revenue by lowering
        her bid on her first unit while keeping her bid on the second unit
        constant. Note, it is never profitable for Bidder A to increase her
        first bid above her valuation for a given unit due to the fact that she
        will necessarily earn negative profit by paying more for a good than
        what she values it.
   </p>



</div>
