{% load otree_tags %}

<div class="row">
    <p>
    The following examples illustrate the uniform pricing rule and how profits are calculated. Each
    example will be illustrated from the perspective of bidder A who is competing against one rival
    bidder: Bidder B. Each of the two bidders with demand for two units are competing in one auction
    in which there are three units of the same good to be auctioned.
    </p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 1. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{6.3|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5.6|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 2. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{6.3|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5.6|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{4|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2.8|c}}</td><td>{{4.8|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
    <p><strong>Example 1.</strong> First, we focus on Table 1 in Example 1. Note bids have been sorted from highest
        to lowest, values are shown next to the bids. The bid that determines the market price (the 4th
        highest bid) has been highlighted with a pink background. The 3 highest bids above the pink background each earn an item. Note, the market
        price is always set by the only losing bid. In the example depicted in Table 1, bidder A earned 1
        unit while bidder B earned 2 units. Thus in the case of Table 1, Bidder A’s profits are calculated
        as</p>
    <ul>
        <li>Unit 1: 6.3 - 2 = 4.3</li>
        <li>and nothing on unit 2</li>
        <li>Total profits = 4.3</li>
    </ul>
    <p>In this example, Bidder A could have earned a second unit by bidding more, provided that bid
        was sufficiently high to edge out Bidder B. Table 2 illustrates the case in which Bidder A changes
        her bid on her second unit from 2 to 4; and all other bids are held constant. Focusing on Table
        2, we see that the market price is now 2.8. Bidder A wins two units and bidder B now only wins
        one and her losing bid sets the market price. Thus in the case of Table 2, Bidder A’s profits are
        calculated as</p>
    <ul>
        <li>Unit 1: 6.3 - 2.8 = 3.5</li>
        <li>Units 2: 4.4 - 2.8 = 1.6</li>
        <li>Total profits = 5.1</li>
    </ul>
    <p>In comparing the auction outcomes in Table 1 and Table 2, we see that Bidder A was able to
        increase her profits by bidding more on her second unit in order to win two units rather
        than one. However, it is important to point out in this example that in earning two (rather than
        one) unit, Bidder A caused the market price to increase from 2.0 to 2.8. This directly
        affects the price that Bidder A had to pay for her higher valued unit. In the scenario represented
        in Table 1 and Table 2, the increase in market price was small enough such that winning two
        units rather than one unit increased total profits. It should be noted that this will not always be
        the case.
    </p>
</div>

<div class="row">
    <p><strong>Example 2.</strong> The next set of examples in Table 3 and 4 illustrates an alternative scenario in which
        Bidder A bids higher on her second unit in order to win two rather than one unit and actually
        resulted in her earning lower profits.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 3. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{6.3|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5.6|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{3.9|c}}</td><td>{{5.4|c}}</td><td>B</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{2|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 4. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{6.3|c}}</td><td>{{6.3|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{5.6|c}}</td><td>{{5.6|c}}</td><td>B</td></tr>
            <tr><td>3</td><td>won</td><td>{{4|c}}</td><td>{{4.4|c}}</td><td>A</td></tr>
            <tr class="danger"><td>4</td><td>lost</td><td>{{3.9|c}}</td><td>{{5.4|c}}</td><td>B</td></tr>
        </table>
    </div>
</div>


<div class="row">
    <p>Focusing on Table 3, we see that Bidder A earned 1 unit while bidder B earned 2 units. Profits
        for bidder A on this unit are calculated as follows: the valuation of the unit less the market price.
        Thus in the case of Table 3, Bidder A’s profits are calculated as:</p>
    <ul>
        <li>Unit 1: 6.3 - 2 = 4.3</li>
        <li>and nothing on unit 2</li>
        <li>Total profits = 4.3</li>
    </ul>
    <p>As in the previous example, we are interested to see if Bidder A could increase her profits by
        winning two (rather than one) unit . Table 4 illustrates this case when Bidder A changes her bid
        from 2 to 4 on her lower valued unit while keeping her bid on the higher valued unit constant as
        well as bids from Bidder constant. This change in bidding strategy resulted in the market price
        now being set by Bidder B’s bid of 3.9. Bidder A wins two units and bidder B now only wins
        one and her losing bid sets the market price. Thus in the case of Table 4, Bidder A’s profits are
        calculated as:</p>
    <ul>
        <li>Unit 1: 6.3-3.9 = 2.4</li>
        <li>Units 2: 4.4 - 3.9 = 0.5</li>
        <li>Total profits = 2.9</li>
    </ul>
    <p>Consequently, total profits are lower in Table 4 where Bidder A won two units relative to Table 3
        where Bidder A won only one unit. To summarize, examples 1 and 2 illustrated the effect of Bidder
        A using different strategies on total profits. As was the case in example 1, Bidder A earned more
        profit when she won two units compared to the case when she won one unit. However, example
        2 illustrates another scenario when Bidder A actually earned less revenue when she won
        two rather than one unit. Underlying these two illustrative examples is the fact that winning two
        units instead of one unit will almost surely increase the market price and thus directly reduce
        the profits you can earn on the first unit. The net result is that in some cases it will be profitable
        to increase your bid on the second unit (example 1) and in some cases it will not be profitable to
        increase your bid on the second unit (example 2).
    </p>


</div>
