{% load otree_tags %}

<div class="row">
    <p>The following examples illustrate the pay-your-bid pricing rule and how profits are calculated.
        Each example will be illustrated from the perspective of bidder A who is competing against two
        rival bidders B and C. Each of the three bidders with demand for three units are competing in
        one auction in which there are eight units of the same good to be auctioned.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h4>Table 1. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{70|c}}</td><td>{{73|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
            <tr><td>3</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
            <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{63|c}}</td><td>A</td></tr>
            <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
            <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
            <tr><td>7</td><td>won</td><td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
            <tr><td>8</td><td>won</td><td>{{27|c}}</td><td>{{33|c}}</td><td>C</td></tr>
            <tr class="danger"><td>9</td><td>lost</td><td>{{20|c}}</td><td>{{44|c}}</td><td>A</td></tr>
        </table>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h4>Table 2. Auction Outcomes</h4>
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Status</th>
                <th>Bid</th>
                <th>Value</th>
                <th>Bidder</th>
            </thead>
            <tr><td>1</td><td>won</td><td>{{70|c}}</td><td>{{73|c}}</td><td>A</td></tr>
            <tr><td>2</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
            <tr><td>3</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
            <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{60|c}}</td><td>A</td></tr>
            <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
            <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
            <tr><td>7</td><td>won</td><td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
            <tr><td>8</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
            <tr class="danger"><td>9</td><td>lost</td><td>{{27|c}}</td><td>{{33|c}}</td><td>A</td></tr>
        </table>
    </div>
</div>

<div class="row">
    <p><strong>Example 1.</strong>
        First, we focus on Table 1 in Example 1. Note bids have been sorted
        from highest to lowest, values are shown next to the bids. The 9th losing bid  has been highlighted with a pink background.  The 8 highest
        bids above  this pink background each earn an item. In the example depicted in
        Table 1, Bidder A earned 2 unit while bidder B and C both earned 3 units.
        Thus in the case of Table 1, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: 73 - 70 = 3</li>
        <li>Unit 2: 63 - 58 = 5</li>
        <li>and nothing on unit 3</li>
        <li>Total profit = 8</li>
    </ul>
    <p>In this example, Bidder A could have earned a third unit by bidding more,
    provided that bid was sufficiently high to edge out Bidder C. Table 2 illustrates
    the case in which Bidder A changes her bid on her third unit from 20 to 40; and all
    other bids are held constant. Focusing on Table 2, we see that Bidder A wins 3
    units and bidder B wins 3 units while bidder C now only wins 2. Thus in the
    case of Table 2, Bidder A’s profits are calculated as</p>
    <ul>
        <li>Unit 1: 73 - 70 = 3</li>
        <li>Unit 2: 63 - 58 = 5</li>
        <li>Units 3: 44 - 40 = 4
        <li>Total profits = 12</li>
    </ul>
    <p>In comparing the auction outcomes in Table 1 and Table 2, we see that
    Bidder A was able to increase her profits by bidding  more on
    her third unit in order to win 3 units rather than 2.</p>
</div>

<div class="row">
    <p><strong>Example 2.</strong> The next set of examples illustrates an
    alternative scenario in which Bidder A bids lower on her first highest
    valued unit in order to win 3 units while earning more profits.</p>
    
    
    
    
    <div class="row">
        <div class="col-md-5">
            <h4>Table 3. Auction Outcomes</h4>
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Status</th>
                    <th>Bid</th>
                    <th>Value</th>
                    <th>Bidder</th>
                </thead>
                <tr><td>1</td><td>won</td><td>{{70|c}}</td><td>{{73|c}}</td><td>A</td></tr>
                <tr><td>2</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
                <tr><td>3</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
                <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{60|c}}</td><td>A</td></tr>
                <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
                <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
                <tr><td>7</td><td>won</td><td>{{44|c}}</td><td>{{41|c}}</td><td>B</td></tr>
                <tr><td>8</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
                <tr class="danger"><td>9</td><td>lost</td><td>{{27|c}}</td><td>{{33|c}}</td><td>C</td></tr>
            </table>
        </div>
        
        <div class="col-md-5 col-md-offset-2">
            <h4>Table 4. Auction Outcomes</h4>
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Status</th>
                    <th>Bid</th>
                    <th>Value</th>
                    <th>Bidder</th>
                </thead>
                <tr><td>1</td><td>won</td><td>{{69|c}}</td><td>{{71|c}}</td><td>C</td></tr>
                <tr><td>2</td><td>won</td><td>{{64|c}}</td><td>{{66|c}}</td><td>B</td></tr>
                <tr><td>3</td><td>won</td><td>{{60|c}}</td><td>{{73|c}}</td><td>A</td></tr>
                <tr><td>4</td><td>won</td><td>{{58|c}}</td><td>{{60|c}}</td><td>A</td></tr>
                <tr><td>5</td><td>won</td><td>{{54|c}}</td><td>{{59|c}}</td><td>C</td></tr>
                <tr><td>6</td><td>won</td><td>{{50|c}}</td><td>{{54|c}}</td><td>B</td></tr>
                <tr><td>7</td><td>won</td><td>{{40|c}}</td><td>{{41|c}}</td><td>B</td></tr>
                <tr><td>8</td><td>won</td><td>{{40|c}}</td><td>{{44|c}}</td><td>A</td></tr>
                <tr class="danger"><td>9</td><td>lost</td><td>{{27|c}}</td><td>{{33|c}}</td><td>C</td></tr>
            </table>
        </div>
    </div>
    
    <div class="row">
    
    
    <p>Focusing on Table 3, we see that Bidder A earned 3 unit while bidder B
    earned 3 units and Bidder C won only 2 units. Profits for bidder A on this
    unit are calculated as follows: the valuation of the unit less the market price.</p>
    <p>Thus in the case of Table 3, Bidder A’s profits are calculated as:</p>
    <ul>
        <li>Unit 1: 73 - 70 = 3</li>
        <li>Unit 2 : 60 - 58 = 2</li>
        <li>Unit 3: 44 - 40 = 4</li>
        <li>Total profits = 9</li>
    </ul>
    <p>We are interested to see if Bidder A could decrease her first unit bids
    in order to still win 3 units but increase her profits on winning the first
    unit. Table 4 illustrates this case when Bidder A changes her first unit bid
    from 70 to 60 while keeping her bid on the second and third unit constant.
    Bidder A still wins 3 units but is no longer the highest bidder - she is
    now the 3rd, 4th and 8th highest bidder - a ranking which is essentially
    meaningless as all that matters is that she is among the 8 highest bids.
    Thus in the case of Table 4, Bidder A’s profits are calculated as:</p>
    <ul>
        <li>Unit 1: 73 - 60 = 13</li>
        <li>Unit 2 : 60 - 58 = 2</li>
        <li>Unit 3: 44 - 40 = 4</li>
        <li>Total profits = 19</li>
    </ul>
    <p>To summarize, examples 1 and 2 illustrated the effect of Bidder A using
    different strategies on total profits. As was the case in example 1,
    Bidder A earned more profit when she won 3 units compared to the case when
    she won 3 unit. Example 2 illustrates another scenario when
    Bidder A actually earned more revenue by lowering her bid on her first
    unit while keeping her bid on the second and third units constant. Note,
    it is never profitable for Bidder A to increase her bid  her
    valuation  due to the fact that she will necessarily earn
    negative profit by paying more for a good than what she values it.</p>
</div>






